{% extends "base.html" %}

{% block content %}

<div class="row">
	<h1>Publish a new post</h1>
</div>

<div class="row">
	<form method="POST">
		<div class="form-group">
			<label for="title">Post title</label>
			<input class="form-control" type="text" name="title" value="{{title}}" />
		</div>
		<div class="form-group">
			<label for="content">Blog content</label>
			<textarea class="form-control" type="text" name="content">{{content}}</textarea>
		</div>
		<button class="btn btn-primary" type="submit">Post new blog!</button>
	</form>
</div>

{% endblock %}