{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1>Posts by {{user_display.username}}</h1>
</div>

{% if user_posts|length == 0 %}
    <div class="row">
        <p>No posts yet</p>
    </div>
    {% else %}
    	{% for post in user_posts %}
            <div class="row">
                <ul>
                    <h2>
                        <a href="/blog?id={{post.id}}">{{post.title}}</a>
                    </h2>
                    <p>{{post.content}}</p>
                    <footer class="blockquote-footer"><a href="/blog?user={{post.owner_id}}">{{post.owner.username}}</a></footer>
                </ul>
            </div>
            <hr>
        {% endfor %}

{% endif %}

{% endblock %}